/* hjvcjdfuwifw */
.signup-page {
  -fx-background-color: transparent;
}

.signup-head {
  -fx-font-size: 36px;
  -fx-font-family: "Arial";
  -fx-text-fill: #042C54;
}

.inputfield-label {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-text-fill: #c6c6c6;
  -fx-font-family: "Arial";
}

.signup-inputfield,
.signup-pwd-inputfield {
  -fx-border-radius: 7px;
  -fx-background-radius: 7;
  -fx-border-color: goldenrod;
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-font-family: "Arial";
}

.menu-btn {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-padding: 3px;
  -fx-cursor: hand;
  -fx-border-radius: 7px;
  -fx-background-radius: 7;
  -fx-border-color: goldenrod;
}

.menu-btn:focused,
.signup-inputfield:focused,
.signup-pwd-inputfield:focused {
  -fx-border-color: #7aa3e3;
  -fx-border-width: 1px;
}

.radio-menu-item {
  -fx-background-color: linear-gradient(to right, #abbaab, #ffffff);
  ;
  -fx-text-fill: #333;
  -fx-padding: 5px;
}

.radio-menu-item:hover {
  -fx-cursor: hand;
}

.proceed-btn {
  -fx-background-color: #138496;
  -fx-border-color: #138496;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-border-radius: 5px;
  -fx-background-radius: 5;
  -fx-padding: 3px 6px;
  -fx-cursor: hand;
  -fx-transition: background-color 0.3s, border-color 0.3s, -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}

.proceed-btn:hover {
  -fx-background-color: #285a62;
  -fx-border-color: #395357;
  -fx-scale-x: 1.01;
  -fx-scale-y: 1.01;
}

.proceed-btn:pressed {
  -fx-background-color: #3d818b;
  -fx-border-color: #64c2d0;
  -fx-scale-x: 0.99;
  -fx-scale-y: 0.99;
}

.back-home-btn {
  -fx-background-color: #ffc107;
  -fx-border-color: #ffc107;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-border-radius: 5px;
  -fx-background-radius: 5;
  -fx-padding: 3px 6px;
  -fx-cursor: hand;
  -fx-transition: background-color 0.3s, border-color 0.3s, -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}

.back-home-btn:hover {
  -fx-background-color: #e0a800;
  -fx-border-color: #e0a800;
  -fx-scale-x: 1.01;
  -fx-scale-y: 1.01;
}

.back-home-btn:pressed {
  -fx-background-color: #d39e00;
  -fx-border-color: #d39e00;
  -fx-scale-x: 0.99;
  -fx-scale-y: 0.99;
}

.error-message {
  -fx-font-size: 12px;
  -fx-text-fill: #ff0000;
}